.chitietdonhang{
    margin: 10px 10px 10px 30px;
}
#banner {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
}
#address{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.progress-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 20px;
    margin-left: auto;
    width: 80%;
}
.step:not(:last-child) .step-text {
    color: #2dc258;
}
.step {
    position: relative;
  }
  
  .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 26%;
    left: 29px; /* Khoảng cách giữa các bước */
    transform: translateY(-50%);
    height: 3px; /* Chiều cao của đường line */
    width: 222px; /* Độ dài của đường line */
    background-color: #2dc258; /* Màu sắc của đường line */
  }

.step-text{
    padding: 5px;
    margin-left: -40%;
}

.step:not(:last-child) .step-icon {
    background-color: #2dc258;
    color: white;
}

.step-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #666;
}
.diachigiaohang{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.thongtinnguoimua{
    width: 30%;
}


.delivery-status {
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.status {
    margin-bottom: 20px;
}

p {
    margin: 5px 0;
}
#time{
    color: #2dc258;
}
.chitietsanpham table tbody  tr td  img{
    width: 75%;
    margin-top: 4px;
    margin-left: 6px;
}
.chitietsanpham table tbody  tr td:first-child{
    width: 10%;
    align-items: center;
}
.chitietsanpham table tbody  tr td:first-child{
    width: 10%;
    align-items: center;
}
.chitietsanpham table tbody  tr td{
    font-size: 16px;
}
#price{
    color: red;
    text-align: right;
    padding: 10px;
}
.chitietsanpham table:first-child{
    width: 95%;
    border-collapse: collapse;
    
    border: 2px groove rgb(222, 219, 219);
    
}
.chitietsanpham table:nth-child(2){
    width: 95%;
    border-collapse: collapse;
    
    border: 2px groove rgb(222, 219, 219);
    border-top: none;
    
}
.chitietsanpham table:nth-child(2) tbody tr td:first-child{
    width: 80%;
}
.chitietsanpham table:nth-child(2) tbody tr td:nth-child(2){
    padding: 10px;   
}
.chitietsanpham table:nth-child(2) tbody tr td{
    text-align: right;
}
.chon{
    width: 80%;
    display: flex;
}
.chon button{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: #fff;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    display: block;
    margin: 20px 12px;
    cursor: pointer;
    margin-left: auto;
}
.chon button:first-child:hover{
    background-color: #24ae4b;
    border: #24ae4b;
    color: #fff;
}
.chon button:nth-child(2):hover{
    background-color: #ca2929;
    border: #ca2929;
    color: #fff;
}