

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex-basis: 50%;
}

.right {
  flex-basis: 50%;

}

form {
  padding: 0 1rem;
}

.left h3,
.right h3,
.wrapper1 h3 {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  color: #fff;
  background-color: #000;
}

form input[type="radio"] {

  padding: 0.5rem 0.7rem;
  margin: 0.5rem 0;
  outline: none;
}

form input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem 0;
  outline: none;

}

 a:hover{
  color: rgb(50, 50, 154);
  text-decoration: underline;
}

#num {
  width: 13%;
  text-align: center;
}

#gia1 {
  width: 20%;
  text-align: center;
}

#zip {
  display: flex;
  margin-top: 0.5rem;
}

#zip select {
  padding: 0.5rem 0.7rem;
}

#zip input[type="number"] {
  padding: 0.5rem 0.7rem;
  margin-left: 5px;
}

.fixed-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
  align-self: flex-end;
  
}

label img {
  width: 2%;
}

.checkout-btn:hover{
  background-color: #C92127;
  align-self: right;
}

#cardInfo {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#cardInfo h4 {
  margin-bottom: 10px;
  color: #333;
}

#cardInfo label {
  display: block;
  margin-top: 10px;
  color: #555;
}

#cardInfo input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-button {
  text-align: left; /* Căn lề trái cho khối chứa nút */
  margin-top: 20px; /* Khoảng cách trên nếu cần */
}


.checkout-btn {
  padding: 10px 20px; /* Điều chỉnh độ rộng và chiều cao */
  font-size: 16px; /* Kích thước chữ */
  background-color: #28a745; /* Màu nền */
  color: #fff; /* Màu chữ */
  border: none; /* Loại bỏ viền */
  border-radius: 4px; /* Bo góc */
  cursor: pointer; /* Thay đổi con trỏ khi di chuột */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.checkout-btn:hover {
  background-color: #218838; /* Màu nền khi hover */
}